{% extends "thor.html.twig" %}

{% block head_title %}Index - Thor{% endblock %}

{% block titlebar %}{{ icon('home')|raw }} Index{% endblock %}

{% block page %}
    Système de contrôle et cadre de travail pour serveur PHP.
    <br>
    <a class="btn btn-primary" href="{{ url('hello', {name: 'world'}) }}">
        {{ icon('link')|raw }}
        Voir la page HELLO
    </a>
{% endblock %}
