{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('book', 'fas', true) }} {{ DICT.menu.documentation }}{% endblock %}

{% block toolbar %}{% endblock %}

{% block page %}
    <div class="text-center">
        <div class="alert alert-info">
            <i class="far fa-lg fa-info-circle"></i>
            {{ DICT.documentation.alert }}
            <hr>
            <a class="btn btn-primary btn-lg"
               target="_blank"
               href="https://asgard.trehinos.eu:9080/php/Thor/-/wikis/home"
            >
                <i class="fas fa-external-link"></i>
                {{ DICT.documentation.linklabel }}
            </a>
        </div>
    </div>
{% endblock %}
