{% extends "thor/base.html.twig" %}

{% block head_css %}

    <style>
        html, body {
            height: 100%;
        }

        .container .d-flex > .res {
            font-size: 10pt;
            width: 6em;
            text-align: right;
            line-height: 1em;
            height: 2.6em;
            position: relative;
        }

        .resource-category {
            margin-bottom: 6px;
        }

        .container .d-flex > .res .label {
            position: absolute;
            left: 1px;
            bottom: -2px;
            opacity: 1;
            font-size: 0.6em;
            font-weight: bold;
        }

        .container .d-flex > .res .fa-regular {
            position: absolute;
            left: 1px;
            bottom: 20px;
            opacity: 0.50;
        }
    </style>

{% endblock %}

{% block body_html %}
    <div class="d-flex flex-column align-items-stretch" style="height: 100%;">
        <div class="container flex-grow-0">
            {% include 'evolution/bars.html.twig' %}
        </div>
        <div class="container flex-grow-1">
            <div class="bg-dark" style="height: 100%">
                <canvas></canvas>
            </div>
        </div>
    </div>
{% endblock %}
