<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block head_title %}App{% endblock %}</title>
    <link rel="icon" href="/thor-favicon-v2.png">
    {{ asset('general-css') }}
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>
{% block body_html %}
    <div class="container">
        <h1>{% block body_title %}{% endblock %}</h1>
        <p>{% block body_text %}{% endblock %}</p>
    </div>
{% endblock %}
{{ asset('general-js') }}
{% block body_js %}{% endblock %}
</body>
</html>
