<div id="titlebar">{% block titlebar %}{% endblock %}</div>
<div id="toolbar">{% block toolbar %}{% endblock %}</div>
<div id="page">{% block page %}{% endblock %}</div>
{% block page_js %}{% endblock %}