{% extends "thor.html.twig" %}

{% block head_title %}{{ appName }}{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script>
        function loadPage(url, params, callback) {
            let $page = $("#content");
            $page.html("<div id='page'><div style='padding-top: 48px; text-align: center;'><i class='fas fa-4x fa-spin fa-spinner'></i></div></div>");
            $page.load(url, params, (response) => {
                if (callback) {
                    callback(response);
                }
            });
        }

        $(() => {
            let menuItem = "{{ menuItem ? menuItem : "index-page" }}";
            menuClick($(`#btn-${menuItem}`));
        });

    </script>
{% endblock %}
