{% extends "modal-base.html.twig" %}

{% block modal_title %}{{ "users.parameters"|_({'username': user.identifier}) }}{% endblock %}

{% block modal_body %}
    <form id="form-parameters" action="{{ url('user-parameters-action', {public_id: user.publicId}) }}" method="POST">
        {% for parameter in parameters %}
            {% include 'fragments/parameter.html.twig' %}
        {% else %}
            <div class="alert alert-warning">
                {{ icon('info-circle') }} aucun paramètre...
            </div>
        {% endfor %}
    </form>
{% endblock %}

{% block modal_footer %}
    <button form="form-parameters" type="submit" class="btn btn-primary">
        {{ DICT.general.save }}
    </button>
{% endblock %}
