<div id="titlebar" class="fixed-top" style="top: 56px">{% block titlebar %}{% endblock %}</div>
<div id="toolbar" class="fixed-top" style="top: 80px;">{% block toolbar %}{% endblock %}</div>
<div id="page">{% block page %}{% endblock %}</div>
{% block page_js %}{% endblock %}
